#: system
.phar/*

#: dev dirs
ePF_API/
!ePF_API_apigen-0.x.x-dev/*
!ePF_API_doxy-0.x.x-dev/*
!ePF_API_phpdoc-0.x.x-dev/*

#: doxy conf
Doxyfile*
doxy/*

#: maker's
make/*
make_*

#: dev's
/__*/*
/__.*
/__*.html
/__*.php

#: jekyll's
/_site/
